html {
  height: 100%;
  width: 100%;
}
.indent {
  inset: 35px;
}

body {
  background-color:#3e3f41;
  color: #FFFFFF;
}
a:link {
  color: #FFD700; /* contrasting color for unclicked links */
}
a:visited {
  color: #FFA07A; /* contrasting color for visited links */
}